#cardHeader {
  // background-color: red;
  width: 50%;
  &:hover {
    cursor: pointer;
  }
}

.example-card {
  box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  background-color: #2a263d;
  margin-top: 3%;
  max-width: 500px;
  max-height: 1400px;
  #content {
    padding-top: 2%;
  }
  #footer {
    text-align: center;
    padding-bottom: 2%;
  }
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
