#uploadContainer {
  box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.75);
  height: 200px;
  width: 500px;
  margin-top: 2%;
  margin-left: 23%;
  text-align: center;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 1%;
  background-color: #2a263d;

  textarea {
    padding-inline-start: 10px;
    padding-block-start: 10px;
    color: white;
    height: 60px;
    border: none;
    width: 95%;
    text-decoration: none;
    &:focus {
      outline: 0px;
    }
  }
  hr {
    width: 90%;
    background-color: #2a263d;
  }

  .image-upload {
    float: left;
    p {
      color: rgb(246, 246, 246);
    }
    #uploadIcon {
      padding: 0;
      margin: 0;
      cursor: pointer;
      color: #00b0ff;
      &:hover {
        color: rgba(255, 255, 255, 0.76);
        transition: 0.3s;
      }
    }
    width: 25px;
    height: 25px;

    input {
      display: none;
    }
    img {
      width: 80px;
    }
  }
  button {
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    height: 25px;
    width: 50%;
    background-color: #00b0ff;

    &:hover {
      background-color: #038ece;
      transition: 0.3s;
    }
  }

  // #image-preview {
  //   z-index: 1;
  // }
}
