<div id="uploadContainer" class="animated fadeInDown">
  <div id="text" class="form-group">
    <textarea
      #pRef
      placeholder="what would you like to say !!"
      type="text"
      name="text"
      (change)="postText($event)"
    ></textarea>
    <br />
    <hr />

    <div id="upload">
      <div class="row">
        <div class="col-8">
          <div class="image-upload">
            <label for="file-input">
              <div class="row">
                <div class="col-4">
                  <mat-icon id="uploadIcon">add_photo_alternate</mat-icon>
                </div>
                <div class="col-8">
                  <p>Photo/Video/audio</p>
                </div>
              </div>
            </label>
            <input
              id="file-input"
              type="file"
              name="image"
              (change)="fileProgress($event)"
            />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <button (click)="onSubmit()">share</button>
          </div>
        </div>
      </div>
      <div
        style="margin-left: 100%; position: absolute; top: 3%;"
        id="image-preview"
        class="image-preview mb-3"
        *ngIf="previewUrl"
      >
        <img
          style=" border-radius: 20px;"
          [src]="previewUrl"
          max-height="500"
          width="300"
        />
      </div>
    </div>
  </div>
</div>
