<div class="sidebar" id="side">
  <ul>
    <li [routerLink]="['/']" routerLinkActive="router-link-active">
      <div class="row">
        <div class="col-2">
          <mat-icon>home</mat-icon>
        </div>
        <div class="col-10">
          home
        </div>
      </div>
    </li>
    <li [routerLink]="['/chat']" routerLinkActive="router-link-active">
      <div class="row">
        <div class="col-2">
          <mat-icon> chat</mat-icon>
        </div>
        <div class="col-10">
          chat
        </div>
      </div>
    </li>
    <hr />
    <li [routerLink]="['/profile']" routerLinkActive="router-link-active">
      <div class="row">
        <div class="col-2">
          <mat-icon>person</mat-icon>
        </div>
        <div class="col-10">
          profile
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-2">
          <mat-icon>people_outline</mat-icon>
        </div>
        <div class="col-10">
          following
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-2">
          <mat-icon>people</mat-icon>
        </div>
        <div class="col-10">
          followers
        </div>
      </div>
    </li>
    <br />

    <li id="log">
      <a href="" (click)="logout()">
        <div class="row">
          <div class="col-2">
            <mat-icon>exit_to_app</mat-icon>
          </div>
          <div class="col-10">
            logout
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
