<div id="body">
  <form class="container">
    <div class="form-group ">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          placeholder="{{ Email }}"
        />
      </div>
      <label for="inputUsername" class="col-sm-2 col-form-label"
        >Username:</label
      >
      <div class="col-sm-10">
        <input
          (change)="UpdateUsername($event)"
          type="text"
          class="form-control"
          id="inputUsername"
          placeholder="New Username"
          value="{{ Username }}"
        />
      </div>
      <label for="inputDisplayName" class="col-sm-2 col-form-label"
        >DisplayName:</label
      >
      <div class="col-sm-10">
        <input
          (change)="UpdateName($event)"
          type="text"
          class="form-control"
          id="inputDisplayName"
          placeholder="New DisplayName"
          value="{{ Name }}"
        />
      </div>
      <label for="inputUsername" class="col-sm-2 col-form-label">Age:</label>
      <div class="col-sm-10">
        <input
          (change)="UpdateAge($event)"
          type="number"
          class="form-control"
          id="inputUsername"
          placeholder="How old Are You?"
          onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
        />
      </div>
    </div>

    <div class="form-group ">
      <label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1"
        >Edit Bio:</label
      >
      <div class="col-sm-10">
        <textarea
          (change)="UpdateBio($event)"
          class="form-control"
          id="exampleFormControlTextarea1"
          s="3"
        ></textarea>
      </div>
    </div>
    <div class="form-group ">
      <label class="col-sm-2 col-form-label" for="exampleFormControlSelect1"
        >Set Gender:</label
      >
      <div class="col-sm-10">
        <select
          (change)="UpdateGender($event)"
          class="form-control"
          id="exampleFormControlSelect1"
        >
          <option> - </option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>
    <div class="container buttons">
      <button
        (click)="onUpdateProfile()"
        width="100%"
        type="button"
        class="btn"
      >
        Save Info Set
      </button>
    </div>
    <hr />
    <div class="form-group ">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Password:</label
      >
      <div class="col-sm-10">
        <input
          (change)="UpdatePass($event)"
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="New Password"
        />
        <input
          (change)="UpdateConfirmPassword($event)"
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Confirm New Password"
        />
      </div>
    </div>
    <div class="container buttons">
      <button
        (click)="onUpdatePassword()"
        width="100%"
        type="button"
        class="btn"
      >
        Save New Password
      </button>
    </div>
  </form>
</div>
