#body {
  background-color: #201d2f;
  min-height: 100vh;
  bottom: 0;

  #contacts {
    padding-top: 8%;
    color: white;

    #pp {
      // background-color: blue;
      img {
        box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.75);
        object-fit: cover;
        border-radius: 100%;
        width: 60px;
        max-height: 60px;
        min-height: 60px;
      }
    }

    #contact {
      width: 50%;
      padding: 1%;
      border-radius: 20px;
      box-shadow: 1px -1px 31px -7px rgba(0, 0, 0, 0.75);
      &:hover {
        cursor: pointer;
        transition: 0.3s;
        background-color: #00b0ff;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
