<div id="body" *ngFor="let userDatum of userData">
  <app-main-side></app-main-side>

  <div id="pp" class="container">
    <img [src]="'http://127.0.0.1:5000/uploads/' + userDatum.photo" alt="..." />
  </div>

  <div id="infos" class="container">
    <div id="name">
      <h5>{{ userDatum.name }}</h5>
      <h6>@{{ userDatum.username }}</h6>
    </div>
    <div id="bio">
      {{ userDatum.bio }}
    </div>
  </div>
  <hr />

  <div id="btns" class="container">
    <div class="row">
      <div id="followers" class="col-4">
        <button
          id="followersBtn"
          class="btn"
          [routerLink]="['followers']"
          routerLinkActive="router-link-active"
        >
          {{ followersLength }}
          followers
        </button>
        <!-- <button
          *ngIf="followersLength === 1"
          id="followersBtn"
          class="btn"
          (click)="followersInfo()"
          routerLinkActive="router-link-active"
        >
          {{ followersLength }}
          follower
        </button> -->
      </div>
      <div id="editProfileDiv" class="col-4">
        <button
          class="btn editProfile"
          (click)="follow(userDatum.id)"
          *ngIf="!followed"
        >
          follow
        </button>
        <button
          class="btn editProfile"
          (click)="unFollow(userDatum.id)"
          *ngIf="followed"
        >
          unfollow
        </button>
        <!-- <button
          id="editProfile"
          class="btn"
          [routerLink]="['/edit']"
          routerLinkActive="router-link-active"
        >
          <mat-icon style="float: left; margin-top: 5px;">create</mat-icon>
          edit profile
        </button> -->
      </div>
      <div id="following" class="col-4">
        <button
          id="followingBtn"
          class="btn"
          [routerLink]="['following']"
          routerLinkActive="router-link-active"
        >
          {{ followingLength }}
          following
        </button>
      </div>
    </div>
  </div>

  <!--   
  <button class="btn follow" (click)="follow(userDatum.id)" *ngIf="!followed">
    follow
  </button>
  <button class="btn follow" (click)="unFollow(userDatum.id)" *ngIf="followed">
    unfollow
  </button> -->
  <app-user-profile-posts-section
    [userData]="userData"
  ></app-user-profile-posts-section>
</div>
